h1 {
    color: #606060;
}

h2 {
    color: #606060;
}

h3 {
    color: #606060;
}

.wmd-panel{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.comment-reply{
	display:none;
}

body {
	background-image: url("swirl_pattern.png");
	background size: 50%; 
}

